@charset "utf-8";
* { margin: 0; padding: 0 ;}
html, body {
    background: #fefcf1 url('/static/images/back.png') repeat-y;
    color: #353535;
    font-family: 'HelveticaNueue-Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0; padding: 0;
}
header, aside, nav, section, article {
    display: block;
    margin: 0; padding: 0;
}
section { clear: left; }
html body > header {
    background: #e5e5d4 url('/static/images/header_back.png');
    height: 72px;
}
html, body, #content, #tickcontent {
    height: 100%;
}
body > #content,
body > #tickcontent {
    height: auto; min-height: 100%;
}
#main {
    padding-bottom: 150px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
footer {
    background-color: #f0eee4;
    background: #f0eee4 url('/static/images/chc-water.png') no-repeat top right;
    display: block;
    clear: both;
    height: 150px;
    margin-top: -150px;
    padding-top: 1px;
    position: relative;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, legend {
/*    font-family: 'Yanone Kaffeesatz', arial, serif;*/
    font-family: 'Droid Sans', arial, serif;
    font-weight: bold;
    margin: 0 0 14px 0; padding: 0;
    text-shadow: #fff 1px 1px;
}
h1 {
    font-size: 28px;
    line-height: 42px;
}
h2 {
    font-size: 26px;
    line-height: 28px;
}
h3 {
    font-size: 21px;
    line-height: 28px;
}
h3 small {
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
}
h4 {
    font-size: 16px;
    line-height: 16px;
}
h5, h6 {
    line-height: 18px;
}
a {
    color: #3470a9;
}
a[name] {
    color: #353535;
}
p {
    font-size: 14px;
    line-height: 18px;
    margin: 0; padding: 0 0 1em 0;
}
ul {
    padding: 0 0 13px 0;
}
ul li {
    padding: 0 0 5px 7px;
    list-style-type: disc;
    list-style-position: inside;
}
ul li ul {
    padding: 0; margin: 0;
}
ul li ul li {
    padding: .5em 0 0 .75em;
}
ol {
    padding: 0 0 13px 0;
}
ol li {
    padding: 0 0 0 7px;
    list-style-type: decimal;
    list-style-position: inside;
}
dl {
    margin: 0 0 1em 0; padding: 0;
}
dl dt {
    font-weight: bold;
    padding: 0 0 .5em 0;
}
dl dd {
    padding: 0 0 1em 1em;
}
br {
    clear: both;
}
strong {
    font-weight: bold;
}
footer a {
    color: #353535;
}
footer nav {
    clear: both;
    font-size: 14px;
    padding: 0 4% 27px 4%; margin: 10px auto;
}
footer nav dl {
    float: left;
    margin: 0; padding: 0;
    text-align: left;
    width: 20%;
}
footer nav dl  {
    display: block;
    float: left;
    margin: 0; padding: 0;
    width: 25%;
}
footer nav dt,
footer nav dd {
    margin: 0; padding: 0;
}
footer nav dt {
    border-bottom: 1px solid #353535;
    color: #101010;
    margin: 0 6em .5em 0; padding: 0 0 .1em 0;
}
footer nav dd {
    padding: 0 0 .25em 0;
}
footer nav dd a {
    color: #353535;
    text-decoration: none;
}
footer nav dd a:hover {
    color: #000;
    font-weight: bold;
}
footer p {
    clear: both;
    color: #353535;
    font-size: 12px;
    margin: 0 0 0 0; padding: .75em 0 0 0;
}
table {
    border-collapse: separate;
    font-size: 14px;
    width: 100%;
}
table label {
    display: block;
    text-align: right;
}
table thead th {
    background-color: #ab0706;
    border-color: #fff;
    border: none;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    padding: .5em;
}
table tbody tr.closed td,
table tbody tr.closed th {
    text-decoration: line-through;
}
table tbody tr.head th {
    background-color: #3470a9;
    border: none;
    border-left: 1px solid #4c81b3;
    color: #f3f3f3;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 5px;
    text-align: left;
    text-transform: uppercase;
}
table tbody tr.head th:first-child {
    border: none;
}
table tbody tr.head th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}
table tbody tr.head th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
table tbody th {
    background-color: #ddd;
    border: none;
    font-weight: bold;
    padding: 7px;
}
table tbody td {
    border: 1px solid #fff;
    border-right-width: 0;
    padding: 7px;
    vertical-align: top;
}
table tbody th.link,
table tbody td.link {
    margin: 0; padding: 0;
}
table tbody th > a:only-child,
table tbody td > a:only-child {
    display: block;
    padding: 7px;
}
table tbody tr.odd {
    background-color: #eee;
}
table tbody tr th {
    border-bottom: 1px solid #fff;
}
table tbody tr:nth-child(2) th {
    border-top: 1px solid #fff;
}
table tbody tr:last-child td:first-of-type {
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
table tbody tr:last-child td:last-of-type {
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
table tfoot td {
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    background-color: #ddd;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-weight: bold;
    line-height: 16px;
    padding: 7px;
    text-align: right;
    vertical-align: center;
}
table tfoot td details {
    font-weight: normal;
}
table tfoot td meter {
    float: left;
}
table tfoot td img {
    vertical-align: bottom;
}
table tfoot details dt,
table tfoot details dd {
    display: inline;
    margin: 0; padding: 0;
}
table tfoot details dd {
    padding: 0 1em 0 0;
}
legend {
    font-size: 1.615em;
    font-weight: bold;
    color: #353535;
    margin: 0 0 7px 1em;
    padding: 2px 5px 3px 5px;
}
br {
    clear: both;
}
body > header {
    font-size: 14px;
}
body > header > nav {
    border-width: 0;
    display: inline;
    left: 225px;
    padding: 0 0 0 0;
    position: absolute;
    top: 21px;
    text-shadow: #000 0 -1px;
    vertical-align: bottom;
}
body > header > nav ul {
    padding: 0; margin: 0;
}
body > header > nav ul li {
    display: block;
    float: left;
    padding: 0; margin: 0 5px 0 0;
}
body > header > nav ul li a {
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #3470a9;
    display: block;
    margin: 0; padding: 2px 0 2px 0;
    text-align: center;
    text-decoration: none;
    width: 8em;
    text-shadow: none;
}
body > header > nav ul li a:hover {
    padding: 5px 0 4px 0;
}
body > header form {
    position: absolute;
    right: 0;
    top: 3px;
    color: #fff;
}
body > header form fieldset {
    border: none;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0; margin: 30px 1em 0 0;
}
#sidebar {
    color: #353535;
    font-size: 14px;
    left: 0;
    margin: 12px 1em 1em 1em; padding: 0;
/*    overflow: hidden;*/
    position: absolute;
    text-align: left;
    top: 72px;
    width: 250px;
}
#sidebar p {
    font-size: 14px;
    margin: .3em .5em .3em .75em; padding: 0;
}
#sidebar p a {
    text-decoration: underline;
}
#sidebar nav a {
    display: block;
    margin: 0; padding: 0 .25em 0 1em;
    text-decoration: none;
    text-shadow: none;
}
#sidebar nav a:hover {
    text-decoration: underline;
}
#sidebar h3 {
    line-height: 26px;
    margin: 0 0 9px 0;
}
#sidebar nav h4 {
    margin: 0 0 .5em 0; padding: 0 0 0 .5em;
    font-size: 14px;
}
#sidebar ul {
    margin: 0;
}
#sidebar ul li a {
    padding: 5px;
    text-decoration: none;
}
#sidebar ul li {
    list-style: none;
}
#sidebar ul li meter {
    color: #757575;
}
#sidebar ul li meter:after {
    content: ')';
}
#sidebar ul li meter:before {
    content: '(';
}
#sidebar nav > ul {
    margin: 0 0 1em 0; padding: 0 0 .5em 0;
}
#sidebar nav > ul li {
    display: block;
    list-style-type: none;
    margin: 0 0 .25em 0; padding: 0;
}
#sidebar ul.tix li {
    text-indent: -15px;
    margin: 0 0 0 10px;
}
#sidebar table td {
    border: none;
    padding: 4px;
}
#sidebar table label {
    font-weight: bold;
}
#sidebar aside.gmessage h3 {
    font-size: 21px;
    line-height: 28px;
    margin: 0; padding: .25em .5em;
    text-shadow: #558342 0 -1px;
}
#sidebar aside.gmessage ul {
    margin: .5em 0 0 1em;
}
#sidebar aside.gmessage ul li {
    background: url('/static/images/nocheck.png') left no-repeat;
    list-style: none;
    margin: 0 0 .5em 0; padding: 0 0 0 1.5em;
}
#sidebar aside.gmessage ul li.done {
    background: url('/static/images/check.png') left no-repeat;
}
#sidebar aside.gmessage ul li a {
    padding: 0;
    text-decoration: underline;
}
p.caption {
    color: #919191;
    font-size: 0.769em;
}
.error {
    color: #ff0000;
    font-weight: bold;
}
p.important {
    font-weight: bold;
}
p small {
    font-size: 0.769em;
}
p.subdued {
    color: #919191;
}
.success {
    color: #339900;
    font-weight: bold;
}
#content {
    padding: 12px 1.5em 0 300px;
}
#main > header {
    margin: 0 0 1.5em 0; padding: 0;
}
#main > header h1 {
    margin: 0; padding: 0;
}
#main > header details {
    color: #87766f;
    font-size: 12px;
    margin: 0; padding: 0;
}
#main > header details dl dt {
    display: inline;
    color: #7d766f;
    margin: 0; padding: 0 .25em 0 0;
}
#main > header details dl dd {
    display: inline;
    margin: 0; padding: 0 1em 0 0;
}
.message aside {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    margin: 0 0 1em 0; padding: 0 0 0 0;
    overflow: hidden;
}
.message aside p {
    font-size: 16px;
    margin: 0; padding: .25em .5em;
}
.message aside.gmessage {
    background-color: #55aa2a;
    background: -webkit-gradient(linear, left top, left bottom, from(#72b94f), to(#55aa2a));
    background: -moz-linear-gradient(top, #72b94f, #55aa2a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ab94f', endColorstr='#55aa2a');
    text-shadow: #558342 0 -1px;
}
.message aside.rmessage {
    background-color: #b31f1e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ba3433), to(#b31f1e));
    background: -moz-linear-gradient(top, #ba3433, #b31f1e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba3433', endColorstr='#b31f1e');
    text-shadow: #84372b 0 -1px;
}
.message aside.omessage {
    background-color: #de691f;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3782f), to(#de691f));
    background: -moz-linear-gradient(top, #e3782f, #de691f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3782f', endColorstr='#de691f');
    text-shadow: #95582d 0 -1px;
}
.message aside a {
    color: #fff;
    display: block;
    text-decoration: none;
}
nav.pager {
    background: none;
    background-color: #eee;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #353535;
    display: block;
    font-size: 14px;
    margin: 0 0 1em 0; padding: 9px;
    text-align: right;
    width: 100%;
}
nav.pager img {
    vertical-align: text-bottom;
}
nav.pager p {
    display: inline;
    float: left;
    font-weight: bold;
    margin: 0; padding: 0;
}
nav.pager ol {
    margin: 0; padding: 0;
}
nav.pager ol li {
    display: inline;
    list-style: none;
}
nav.pager span,
nav.pager ol li a {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #3470a9;
    padding: 5px;
    margin: 3px 0 ;
    text-decoration: none;
}
nav.pager ol li a:hover {
    background-color: #3470a9;
    color: #fff;
}
nav.pager ol li.first {
    margin: 0 7px 0 0;
}
nav.pager ol li.last {
    margin: 0 0 0 7px;
}
div.tabs nav ul {
    margin: 0; padding: 0;
}
div.tabs nav ul li {
    background-color: #ccc;
    border: 1px solid #353535;
    border-width: 1px 1px 0 1px;
    float: left;
    font-size: 14px;
    list-style: none;
    margin: 0; padding: 0;
    text-align: right;
}
div.tabs nav ul li.first {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    border-width: 1px 0 0 1px;
}
div.tabs nav ul li.last {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-width: 1px 1px 0 0;
}
div.tabs nav ul li.yui-tab-selected {
    background-color: #fff;
}
div.tabs nav ul li a {
    display: block;
    color: #353535;
    margin: 0; padding: .25em .5em;
    text-decoration: none;
}
div.tabs nav ul li a:hover {
    background-color: #eee;
}
#crumbs ul {
    margin: 1em 0 0 290px; padding: 0;
}
#crumbs ul li {
    display: inline;
}
section.tab {
    border: 1px solid #353535;
    margin: 0; padding: 1em;
}
section.description {
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 1em 7px 0 7px;
}
fieldset {
    background-color: #eee;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.2);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    margin: 0 0 1em 0;
    padding: 1em;
    position: relative;
}
fieldset h2 {
    margin: 0 0 1em 2em;
}
fieldset table {
    margin: 0; padding: 0;
}
fieldset table thead th,
fieldset table tr td {
    background-color: #eee;
    border-width: 0;
    color: #353535;
    vertical-align: center;
}
fieldset table thead th {
    text-align: right;
}
fieldset table tr td {
    border: none;
    text-align: left;
    vertical-align: top;
}
fieldset td.error label {
    color: #b31d1c;
    font-weight: bold;
}
fieldset td.error textarea,
fieldset td.error input {
    border: 2px solid #b31d1c;
}
fieldset label.error {
    color: #b31d1c;
}
fieldset .error {
    font-weight: normal;
}
span.req {
    color: #b31d1c;
    float: none;
    font-weight: bold;
    text-shadow: #fff 0 -1px;
}
fieldset label em.req {
    text-transform: uppercase;
}
fieldset input[type="url"],
fieldset input[type="email"],
fieldset input[type="text"],
fieldset input[type="number"],
fieldset input[type="range"],
fieldset input[type="password"],
fieldset select,
fieldset textarea {
    resize: none;
    margin: 0; padding: 2px;
    width: 200px;
}
fieldset input[type="url"].double,
fieldset input[type="email"].double,
fieldset input[type="text"].double,
fieldset input[type="number"].double,
fieldset input[type="range"].double,
fieldset input[type="password"].double,
fieldset select.double,
fieldset textarea.double {
    width: 32em;
}
fieldset textarea {
    width: 350px;
}
fieldset.cwrap {
    background-color: #fff;
    display: block;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
}
fieldset.cwrap label {
    clear: both;
    display: block;
    float: left;
    padding: 5px;
}
fieldset.cwrap input {
    clear: both;
    float: left;
    margin: 5px;
}
fieldset tfoot tr td {
    background-color: inherit;
    border: none;
    text-align: right;
}
input.placeholder { color: #ccc; }

td.message aside {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    clear: both;
    font-size: 12px;
    margin: 0; padding: 0;
    text-align: center;
    width: 208px;
}
td.message textarea + aside {
    margin-top: -4px; 
    width: 358px
}
table tbody tr.imp,
table tbody tr.imp td label {
    background-color: #de691f;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3782f), to(#de691f));
    background: -moz-linear-gradient(top, #e3782f, #de691f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='e3782f', endColorstr='#de691f');
    color: #000;
}
table tbody tr.imp td a {
    color: #fff;
    text-shadow: #95582d 0 -1px;
}
table.ticket {
    margin: 0 0 1.5em 0;
}
table.ticket label {
    color: #78766f;
}
table.ticket tr.submit td {
    border: none;
    text-align: right;
}
table.ticket tr.submit td a {
    display: inline-block;
}
ul.comments {
    margin: 0; padding: 0 5px 0 5px;
}
ul.comments li {
    list-style: none;
    margin: 0 6em 1.5em 0; padding: 0;
}
ul.comments li time {
    color: #78766f;
    display: block;
    font-size: 12px;
}
ul.comments li cite {
    float: left;
    width: 40px;
    margin: .5em .5em 0 0;
}
ul.comments li blockquote {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 0 45px; padding: .5em;
    text-align: left;
}
ul.comments li.system time {
    margin: 0 0 0 9.5em;
}
ul.comments li.system p {
    background-color: #ededed;
    margin: 0 2em 0 8em;
}
ul.comments li.visitor {
    margin: 0 0 1em 0;
}
ul.comments li.visitor time {
    text-align: right;
}
ul.comments li.visitor cite {
    float: right;
    margin: .5em 0 0 .5em;
}
ul.comments li.visitor p {
    margin: 0 45px 0 6em;
}
dl.log dt {
    font-weight: normal;
}
dl.log a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: inherit;
    display: block;
    padding: 5px;
    text-decoration: none;
}
dl.log a:hover {
    background-color: #eeeee1;
}
dl.log img {
    padding: 0 7px;
}
dl.log time {
    color: #78766f;
    font-size: 12px;
    width: 7em;
}
dl.log dd {
    color: #78766f;
    font-size: 12px;
    margin: 0 0 0 8em; padding: 5px 0;
}
ul.roadmap {
    margin: 0; padding: 0;
}
ul.roadmap li {
    list-style: none;
    margin: 0; padding: 0;
}
ul.roadmap h3 {
    border-bottom: 1px solid #353535;
    margin: 0 0 .5em 0; padding: 0;
}
ul.roadmap table {
    margin: 0 0 2.5em 1em;
}
table.summary tbody td a {
    display: block;
}
table.summary tbody tr:hover,
table.summary tbody tr.odd:hover {
    background-color: #ddd;
}
article.group_man section.users {
    float: left;
}
article.group_man section.users ul {
    margin: 0 1em 0 0;
}
article.group_man section.users ul li {
    list-style: none;
    margin: 0 0 .5em 0; padding: 0;
}
article.group_man section.users ul li a,
article.group_man section.users ul li label {
    padding: 5px 7px;
}
article.group_man section.users ul li.selected {
    background-color: #eee;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 7px;
}
article.group_man section.users ul li.selected a,
article.group_man section.users ul li.selected label {
    background: transparent url('/static/images/actions/bullet_go.png') no-repeat center left;
    padding: 0 0 0 15px;
}
article.group_man section.groups {
    clear: none;
    float: left;
}
table.cal {
    width: 100%;
}
table.cal thead a {
    background: #eee;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #3470a9;
    margin: 0 2em; padding: 0;
    text-decoration: none;
}
table.cal thead td {
    background: #ccc;
    border: none;
    border-left: 1px solid #fff;
    padding: .4em;
    text-align: center;
    width: 14%;
}
table.cal thead td:first-child {
    border: none;
}
table.cal tbody tr td.current a {
    background-color: #b31f1e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ba3433), to(#b31f1e));
    background: -moz-linear-gradient(top, #ba3433, #b31f1e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba3433', endColorstr='#b31f1e');
    color: #fff;
}
table.cal tbody tr td.current a span {
    float: left;
    margin: 0 0 0 5px;
}
table.cal tbody tr td.current a {
    margin: 0; padding: 5px 5px 5px 0;
}
table.cal tbody tr td.do {
    background-color: #d9d9c7;
}
table.cal tbody td {
    background-color: #f0eee4;
    height: 5em;
    padding: 0; margin: 0;
}
table.cal tbody td:first-child {
    border-left: none;
}
table.cal tbody td a {
    display: block;
    color: #353535;
    margin: 0; padding: 5px 5px 0 0;
    text-align: right;
    text-decoration: none;
}
table.cal tbody td.other a {
    color: #999;
}
table.cal tbody td ul {
    margin: 0; padding: 0;
}
table.cal tbody td ul li {
    display: block;
    list-style: none;
    margin: 0; padding: 0;
    text-align: left;
}
table.cal tbody td ul li a {
    background-color: #55aa2a;
    color: #fff;
    display: block;
    font-size: 12px;
    margin: 0; padding: 0 5px;
    text-decoration: none;
}
table.cal tbody td ul li a:hover {
    text-decoration: underline;
}
ul.status li {
    border: 1px solid #353535;
    border-width: 0 0 0 1px;
    display: block;
    margin: 0 0 1.5em 0; padding: 0 0 0 0;
    position: relative;
}
ul.status h3 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    border: none;
    margin: 7px 0 0 0; padding: 0;
    float: left;
    left: 0;
    width: 1.5em;
    writing-mode: tb-rl;
}
ul.status li {
    width: 90%;
}
ul.status li table {
    padding: 0; margin: 7px 0;
}
ul.status li.now {
    background: -webkit-gradient(linear, left center, right center, from(#ffffff), to(#fefcf1));
    background: -moz-linear-gradient(right, #ffffff, #fefcf1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fefcf1');
    border: 1px solid #353535;
    border-width: 1px 0 1px 1px;
}
section.product h3 {
    margin: 0; padding: 0;
    clear: both;
}
section.product h4 {
    float: left;
    text-shadow: none;
    margin: 0 0 .5em 0;
}
section.product time {
    float: right;
    margin: 0 .3em 0 0;
}
section.product hr {
    border: 1px solid #353535;
}
section.product > ul {
    margin: 0; padding: 0;
}
section.product > ul > li {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #de691f;
    background: -webkit-gradient(linear, left top, left bottom, from(#b0b09a), to(#b0b09a));
    background: -moz-linear-gradient(top, #b0b09a, #b0b09a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b09a', endColorstr='#b0b09a');
    border-radius: 5px;
    color: #353535;
    margin: 0 0 1em 0; padding: .5em;
}
section.product > ul > li > ul {
    clear: both;
}
section.product > ul > li > ul > li {
    background-color: #e9e9d7;
    border-bottom: 1px solid #9c9c81;
    color: #353535;
    padding: .25em;
}
section.product > ul > li > ul > li:first-child {
    border-bottom: 1px sold #9c9c81;;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 7px;
}
section.product > ul > li > ul > li:last-child {
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
section.product li {
    list-style: none;
}
#perpetuity li {
    position: relative;
}
#perpetuity h4 {
    float: none;
    margin: 0 0 .25em 0; padding: 0;
}
#perpetuity time {
    float: none;
    position: absolute;
    right: 0;
    top: .6em;
    margin: 0 .75em 0 0;
}
section.product ul:nth-of-type(2) {
    margin: 2em 0 0 0;
}
#future.today {
    margin: 0;
}
#future.today li:first-child {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#future > li:first-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#e3782f), to(#de691f));
    background: -moz-linear-gradient(top, #e3782f, #de691f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3782f', endColorstr='#de691f');
    color: #fff;
}
#future > li:first-child h4,
#future > li:first-child > time {
    text-shadow: #95582d 0 -1px;
}
#future > li:first-child > ul li {
    background-color: #fff;
}
ul.taglist {
    margin: 0; padding: 0;
}
ul.taglist li {
    list-style: none;
    margin: 3px; padding: 0 3px;
}
ul.taglist li.tag {
    background: #e9eff9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #85aed7;
    float: left;
}
ul.taglist li.tag:hover {
    background-color: #cddcf3;
    border: 1px solid #8597bb;
}
ul.taglist li a {
    display: inline;
}
ul.taglist li a:hover {
    background: none;
}
ul.taglist li.tag a.remove {
    color: #999;
    font-weight: bold;
    margin: 0 0 0 7px;
    text-decoration: none;
}
ul.taglist li.tag a.remove:hover {
    color: #333;
}
ul.taglist li > input {
    margin: 1em 0 0 0;
    width: 9em;
}

ul.tfillist {
    margin: 0; padding: 0;
}
ul.fillist li {
    background: #e9eff9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #85aed7;
    list-style: none;
    margin: 3px; padding: 0 3px;
}
ul.fillist li a {
    color: #999;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}
ul.fillist li a:hover {
    color: #333;
}
span.type {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    margin: 0 7px 0 0; padding: 2px 3px;
}
.submit_button {
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,.3);
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    padding: .5em 2em .55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.small {
    padding: .2em .5em;
    font-size: 14px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}
.submit_button:hover {
    text-decoration: none;
}
.submit_button:active {
    position: relative;
    top: 1px;
}
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background-color: #de691f;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    text-shadow: #95582d 0 -1px;
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

progress {
    background: none;
    background-color: #eee;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #353535;
    display: block;
    font-size: 14px;
    margin: 0 0 1em 0; padding: 0;
    position: relative;
    text-align: left;
}
progress ol {
    list-style: none;
    margin: 8px 0 7px 5px; padding: 0 0;
}
progress ol li {
    background: -webkit-gradient(linear, left top, left bottom, from(#72b94f), to(#55aa2a));
    background: -moz-linear-gradient(top, #72b94f, #55aa2a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b94f', endColorstr='#55aa2a');
    border: 1px solid #757575;
    border-right: none;
    color: #b8d7a2;
    display: inline;
    list-style: none;
    margin: 0; padding: .25em 1em;
}
progress ol li:first-child {
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
progress ol li:last-child {
    border-right: 1px solid #000000;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
progress ol li.curr {
    color: #fff;
    background-color: #55aa2a;
    background: -webkit-gradient(linear, left top, left bottom, from(#72b94f), to(#55aa2a));
    background: -moz-linear-gradient(top, #72b94f, #55aa2a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b94f', endColorstr='#55aa2a');
    text-shadow: #558342 0 -1px;
}
progress ol li.future {
    background: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#909090));
    background: -moz-linear-gradient(top, #d4d4d4, #b0b0b0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#909090');
    color: #777;
}
progress form button {
    position: absolute;
    right: 7px;
    top: 6px;
}
table.queue td {
    border: none;
    padding: 0;
}
table.queue tr.root > td {
    border: 1px solid #ab0706;
    border-left: none;
}
table.queue tr.root > td:first-child {
    border: 1px solid #ab0706;
    border-left-width: 1px;
}
table.queue ul {
    margin: 0; padding: 0;
}
table.queue ul li {
    border: 1px solid red;
    list-style: none;
    margin: 7px 5px; padding: 5px;
}
article.admin section {
    background-color: #f0eee4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid white;
    clear: none;
    float: left;
    margin: 0 1em 1em 0; padding: .5em;
}
article.admin section ul {
    margin: 0; padding: 0;
}
article.admin section ul li {
    list-style: none;
    margin: 0; padding: 0 0 .25em 0;
}
article.admin section ul.sub {
    margin: 1em 0 0 1em; padding: 0;
}
article.admin section ul.sub li {
    list-style: disc;
    margin: 0 0 0 .5em; padding: 0;
}