@charset "utf-8";
* { margin: 0; padding: 0 ;}
html, body {
    background-color: #e9e9d7;
    color: #353535;
    font-family: 'HelveticaNueue-Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin: 0; padding: 0;
}
header, aside, nav, section, article {
    display: block;
    margin: 0; padding: 0;
}
section { clear: left; }
html body > header {
    background: #e5e5d4 url('/static/images/header_back.png');
    height: 90px;
}
html, body, #content, #tickcontent {
    height: 100%;
}
body > #content,
body > #tickcontent {
    height: auto; min-height: 100%;
}
#main {
    padding-bottom: 150px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
footer {
    background-color: #9c9c81;
    background: url('/static/images/chc-water.png') no-repeat top right,
        -webkit-gradient(linear, left top, left bottom, from(#b0b09a), to(#9c9c81));
    background: url('/static/images/chc-water.png') no-repeat top right,
        -moz-linear-gradient(top, #b0b09a, #9c9c81);
    border-top: 1px solid #353535;
    display: block;
    clear: both;
    height: 150px;
    margin-top: -150px;
    padding-top: 1px;
    position: relative;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, legend {
    font-weight: bold;
    margin: 0 0 18px 0; padding: 0;
    text-shadow: #fff 0 -1px;
}
h1 {
    font-size: 34px;
    line-height: 54px;
}
h2 {
    font-size: 26px;
    line-height: 36px;
}
h3 {
    font-size: 21px;
    line-height: 36px;
}
h3 small {
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
}
h4 {
    font-size: 16px;
    line-height: 18px;
}
h5, h6 {
    line-height: 18px;
}
a {
    color: #3470a9;
}
a[name] {
    color: #353535;
}
p {
    line-height: 1.307em;
    padding: 0 0 1em 0;
}
ul {
    padding: 0 0 13px 0;
}
ul li {
    padding: 0 0 5px 7px;
    list-style-type: disc;
    list-style-position: inside;
}
ul li ul {
    padding: 0; margin: 0;
}
ul li ul li {
    padding: .5em 0 0 .75em;
}
ol {
    padding: 0 0 13px 0;
}
ol li {
    padding: 0 0 0 7px;
    list-style-type: decimal;
    list-style-position: inside;
}
dl {
    margin: 0 0 1em 0; padding: 0;
}
dl dt {
    font-weight: bold;
    padding: 0 0 .5em 0;
}
dl dd {
    padding: 0 0 1em 1em;
}
br {
    clear: both;
}
strong {
    font-weight: bold;
}
footer a {
    color: #353535;
}
footer nav {
    clear: both;
    padding: 0 4% 27px 4%; margin: 10px auto;
}
footer nav dl {
    float: left;
    margin: 0; padding: 0;
    text-align: left;
    width: 20%;
}
footer nav dl  {
    display: block;
    float: left;
    margin: 0; padding: 0;
    width: 25%;
}
footer nav dt,
footer nav dd {
    margin: 0; padding: 0;
}
footer nav dt {
    color: #101010;
    padding: 0 0 .5em 0;
}
footer nav dd {
    padding: 0 0 .25em 0;
}
footer nav dd a {
    color: #353535;
    text-decoration: none;
}
footer nav dd a:hover {
    color: #e9e9d7;
}
footer p {
    clear: both;
    color: #353535;
    font-size: 12px;
    margin: 0 0 0 0; padding: .75em 0 0 0;
}
table {
    border-collapse: separate;
}
table label {
    display: block;
    text-align: right;
}
table thead th {
    background-color: #ab0706;
    border-color: #fff;
    border: none;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    padding: .5em;
}
table tbody tr.closed td,
table tbody tr.closed th {
    text-decoration: line-through;
}
table tbody tr.head th {
    background-color: #3470a9;
    border: none;
    border-right: 1px solid #4c81b3;
    color: #f3f3f3;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 5px;
    text-align: left;
    text-transform: uppercase;
}
table tbody tr.head th:last-child {
    border: none;
}
table tbody tr.head th:first-child {
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
}
table tbody tr.head th:last-child {
    -moz-border-radius-topright: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
}
table tbody th {
    background-color: #ddd;
    border: none;
    font-weight: bold;
    padding: 7px;
}
table tbody td {
    border: 1px solid #fff;
    border-right-width: 0;
    padding: 7px;
    vertical-align: top;
}
table tbody td:last-child {
    border-right-width: 1px;
}
table tbody tr.odd {
    background-color: #eee;
}
table tbody tr th {
    border-bottom: 1px solid #fff;
}
table tbody tr:nth-child(2) th {
    border-top: 1px solid #fff;
}
table tbody tr:last-child td:first-of-type {
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
table tfoot td {
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    background-color: #ddd;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-weight: bold;
    line-height: 16px;
    padding: 7px;
    text-align: right;
    vertical-align: center;
}
table tfoot td details {
    font-weight: normal;
}
table tfoot td meter {
    float: left;
}
table tfoot td img {
    vertical-align: bottom;
}
legend {
    font-size: 1.615em;
    font-weight: bold;
    color: #353535;
    margin: 0 0 7px 1em;
    padding: 2px 5px 3px 5px;
}
br {
    clear: both;
}
#sidebar {
    background-color: #fff;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid #353535;
    border-width: 1px 1px 1px 0;
    color: #353535;
    font-size: 12px;
    left: 0;
    margin: 0; padding: 1em 0 1em 1em;
    position: absolute;
    text-align: left;
    top: 102px;
    width: 120px;
}
#sidebar a {
    color: #353535;
    text-shadow: none;
}
body > header {
    font-size: 14px;
}
body > header > nav {
    border-width: 0;
    display: inline;
    left: 225px;
    padding: 0 0 0 0;
    position: absolute;
    top: 21px;
    text-shadow: #000 0 -1px;
    vertical-align: bottom;
}
body > header > nav ul {
    padding: 0; margin: 0;
}
body > header > nav ul li {
    display: block;
    float: left;
    padding: 0; margin: 0 5px 0 0;
}
body > header > nav ul li a {
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #3470a9;
    display: block;
    margin: 0; padding: 2px 0 2px 0;
    text-align: center;
    text-decoration: none;
    width: 8em;
    text-shadow: none;
}
body > header > nav ul li a:hover {
    padding: 5px 0 4px 0;
}
body > header form {
    position: absolute;
    right: 0;
    top: 3px;
    color: #fff;
}
body > header form fieldset {
    border: none;
    background: none;
    padding: 0; margin: 30px 1em 0 0;
}
body > header form fieldset input {
    vertical-align: bottom;
}
p.caption {
    color: #919191;
    font-size: 0.769em;
}
.error {
    color: #ff0000;
    font-weight: bold;
}
p.important {
    font-weight: bold;
}
p small {
    font-size: 0.769em;
}
p.subdued {
    color: #919191;
}
.success {
    color: #339900;
    font-weight: bold;
}
#content {
    padding: 12px 120px 0 180px;
}
#main > header {
    margin: 0 0 1.5em 0; padding: 0;
}
#main > header h2 {
    margin: 0; padding: 0;
}
#main > header details {
    color: #87766f;
    font-size: 12px;
    margin: 0; padding: 0;
}
#main > header details dl dt {
    display: inline;
    color: #7d766f;
    margin: 0; padding: 0 .5em 0 0;
}
#main > header details dl dd {
    display: inline;
    margin: 0; padding: 0 2em 0 0;
}

.message aside {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #fff;
    display: block;
    margin: 0 0 1em 0; padding: 0 0 0 0;
    overflow: hidden;
}
.message aside p {
    margin: 0; padding: .25em .5em;
    font-size: 1.23em;
}
.message aside.gmessage {
    background-color: #55aa2a;
    background: -webkit-gradient(linear, left top, left bottom, from(#72b94f), to(#55aa2a));
    background: -moz-linear-gradient(top, #72b94f, #55aa2a);
    text-shadow: #558342 0 -1px;
}
.message aside.rmessage {
    background-color: #b31f1e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ba3433), to(#b31f1e));
    background: -moz-linear-gradient(top, #ba3433, #b31f1e);
    text-shadow: #84372b 0 -1px;
}
.message aside.omessage {
    background-color: #de691f;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3782f), to(#de691f));
    background: -moz-linear-gradient(top, #e3782f, #de691f);
    text-shadow: #95582d 0 -1px;
}
.message aside a {
    color: #fff;
    display: block;
    text-decoration: none;
}
nav.bar h3 {
    margin: 0; padding: 0 0 7px 0;
}
nav.bar > ul {
    margin: 0; padding: 0 0 18px 0;
}
nav.bar > ul li {
    list-style-type: none;
}
nav.bar > ul li {
    display: block;
    margin: 0 0 .25em 0; padding: 0;
}
nav.bar a {
    color: #eee;
    padding: 7px;
    text-decoration: none;
}
nav.bar a:hover {
    text-decoration: underline;
}
nav.bar ul.tix li {
    text-indent: -15px;
    margin: 0 0 0 10px;
}
nav.bar ul.tix li a {
    font-size: 12px;
}
nav.pager {
    background: none;
    background-color: #eee;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #353535;
    display: block;
    margin: 0 0 1em 0; padding: 9px;
    text-align: right;
    width: 100%;
}
nav.pager img {
    vertical-align: text-bottom;
}
nav.pager p {
    display: inline;
    float: left;
    font-size: 1.23em;
    font-weight: bold;
    margin: 0; padding: 0;
}
nav.pager ol {
    margin: 0; padding: 0;
}
nav.pager ol li {
    display: inline;
    list-style: none;
}
nav.pager span,
nav.pager ol li a {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #3470a9;
    padding: 5px;
    margin: 3px 0 ;
    text-decoration: none;
}
nav.pager ol li a:hover {
    background-color: #3470a9;
    color: #fff;
}
nav.pager ol li.first {
    margin: 0 7px 0 0;
}
nav.pager ol li.last {
    margin: 0 0 0 7px;
}
div.tabs nav ul {
    margin: 0; padding: 0;
}
div.tabs nav ul li {
    background-color: #ccc;
    border: 1px solid #353535;
    border-width: 1px 1px 0 1px;
    float: left;
    list-style: none;
    margin: 0; padding: 0;
    text-align: right;
}
div.tabs nav ul li.first {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    border-width: 1px 0 0 1px;
}
div.tabs nav ul li.last {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-width: 1px 1px 0 0;
}
div.tabs nav ul li.yui-tab-selected {
    background-color: #fff;
}
div.tabs nav ul li a {
    display: block;
    color: #353535;
    margin: 0; padding: .25em .5em;
    text-decoration: none;
}
div.tabs nav ul li a:hover {
    background-color: #fff;
}
#crumbs ul {
    margin: 1em 0 0 175px; padding: 0;
}
#crumbs ul li {
    display: inline;
}
section.tab {
    border: 1px solid #353535;
    margin: 0; padding: 1em;
}
fieldset {
    background-color: #eee;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 1em 0;
    padding: 1em;
    position: relative;
}
fieldset h2 {
    margin: 0 0 1em 2em;
}
fieldset table {
    margin: 0; padding: 0;
}
fieldset table thead th,
fieldset table tr td {
    background-color: #eee;
    border-width: 0;
    color: #353535;
    vertical-align: center;
}
fieldset table thead th {
    text-align: right;
}
fieldset table tr td {
    text-align: left;
    vertical-align: top;
}
fieldset td.error label {
    color: #b31d1c;
    font-weight: bold;
}
fieldset td.error textarea,
fieldset td.error input {
    border: 2px solid #b31d1c;
}
fieldset label.error {
    color: #b31d1c;
}
fieldset .error {
    font-weight: normal;
}
span.req {
    color: #b31d1c;
    float: none;
    font-weight: bold;
    text-shadow: #fff 0 -1px;
}
fieldset label em.req {
    text-transform: uppercase;
}
fieldset input[type="url"],
fieldset input[type="email"],
fieldset input[type="text"],
fieldset input[type="number"],
fieldset input[type="range"],
fieldset select,
fieldset textarea {
    margin: 0; padding: 0;
    width: 12.25em;
}
fieldset input[type="url"].double,
fieldset input[type="email"].double,
fieldset input[type="text"].double,
fieldset input[type="number"].double,
fieldset input[type="range"].double,
fieldset select.double,
fieldset textarea.double {
    width: 32em;
}
fieldset textarea {
    width: 25em;
}
fieldset.cwrap {
    background-color: #fff;
    display: block;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
}
fieldset.cwrap label {
    clear: both;
    display: block;
    float: left;
    padding: 5px;
}
fieldset.cwrap input {
    clear: both;
    float: left;
    margin: 5px;
}
fieldset tfoot tr td {
    background-color: inherit;
    border: none;
    text-align: right;
}
td.message aside {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    clear: both;
    font-size: 12px;
    text-align: center;
    margin: 0; padding: 0;
}
table tbody tr.imp,
table tbody tr.imp td label {
    background-color: #de691f;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3782f), to(#de691f));
    background: -moz-linear-gradient(top, #e3782f, #de691f);
    color: #000;
}
table tbody tr.imp td a {
    color: #fff;
    text-shadow: #95582d 0 -1px;
}
table.ticket {
    margin: 0 0 1.5em 0;
}
table.ticket label {
    color: #78766f;
}
table.ticket tr.submit td {
    border: none;
    text-align: right;
}
ul.comments {
    margin: 0; padding: 0 5px 0 5px;
}
ul.comments li {
    list-style: none;
    margin: 0 6em 1.5em 0; padding: 0;
}
ul.comments li time {
    color: #78766f;
    display: block;
    font-size: 12px;
}
ul.comments li cite {
    float: left;
    width: 40px;
    margin: .5em .5em 0 0;
}
ul.comments li p {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 0 45px; padding: .5em;
    text-align: left;
}
ul.comments li.system time {
    margin: 0 0 0 9.5em;
}
ul.comments li.system p {
    background-color: #ededed;
    margin: 0 2em 0 8em;
}
ul.comments li.visitor {
    margin: 0 0 1em 0;
}
ul.comments li.visitor time {
    text-align: right;
}
ul.comments li.visitor cite {
    float: right;
    margin: .5em 0 0 .5em;
}
ul.comments li.visitor p {
    margin: 0 45px 0 6em;
}
dl.log dt {
    font-weight: normal;
}
dl.log a {
    color: inherit;
    display: block;
    padding: 5px;
    text-decoration: none;
}
dl.log a:hover {
    background-color: #eeeee1;
}
dl.log img {
    padding: 0 7px;
}
dl.log time {
    color: #78766f;
    font-size: 12px;
    width: 7em;
}
dl.log dd {
    color: #78766f;
    font-size: 12px;
    margin: 0 0 0 8em; padding: 5px 0;
}
ul.roadmap {
    margin: 0; padding: 0;
}
ul.roadmap li {
    list-style: none;
    margin: 0; padding: 0;
}
ul.roadmap h3 {
    border-bottom: 1px solid #353535;
    margin: 0 0 .5em 0; padding: 0;
}
ul.roadmap table {
    margin: 0 0 2.5em 1em;
}
table.summary tbody td a {
    display: block;
}
table.summary tbody tr:hover,
table.summary tbody tr.odd:hover {
    background-color: #ddd;
}
article.group_man section.users {
    float: left;
}
article.group_man section.users ul {
    margin: 0 1em 0 0;
}
article.group_man section.users ul li {
    list-style: none;
    margin: 0 0 .5em 0; padding: 0;
}
article.group_man section.users ul li a,
article.group_man section.users ul li label {
    padding: 5px 7px;
}
article.group_man section.users ul li.selected {
    background-color: #eee;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 7px;
}
article.group_man section.users ul li.selected a,
article.group_man section.users ul li.selected label {
    background: transparent url('/static/images/actions/bullet_go.png') no-repeat center left;
    padding: 0 0 0 15px;
}
table.cal {
    border: 1px solid #fff;
    width: 100%;
}
table.cal thead a {
    background: #eee;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #3470a9;
    margin: 0 2em; padding: 0;
    text-decoration: none;
}
table.cal thead td {
    border: none;
    padding: .5em .5em 2px .5em;
    text-align: center;
    width: 14%;
}
table.cal tbody tr td.current {
    background-color: #ddd;
}
table.cal tbody tr td.current a {
    margin: 0; padding: 5px 5px 5px 0;
}
table.cal tbody tr td.do {
    background-color: #d9d9c7;
}
table.cal tbody td {
    height: 5em;
    padding: 0; margin: 0;
}
table.cal tbody td a {
    display: block;
    color: #353535;
    margin: 0; padding: 5px 5px 0 0;
    text-align: right;
}
table.cal tbody td.other a {
    color: #999;
}
table.cal tbody td ul {
    margin: 0; padding: 0;
}
table.cal tbody td ul li {
    display: block;
    list-style: none;
    margin: 0; padding: 0;
    text-align: left;
}
table.cal tbody td ul li a {
    background-color: #55aa2a;
    color: #fff;
    display: block;
    font-size: 12px;
    margin: 0; padding: 0 5px;
    text-decoration: none;
}
table.cal tbody td ul li a:hover {
    text-decoration: underline;
}
ul.status li {
    border: 1px solid #353535;
    border-width: 0 0 0 1px;
    display: block;
    margin: 0 0 1.5em 0; padding: 0 0 0 0;
    position: relative;
}
ul.status h3 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    border: none;
    margin: 7px 0 0 0; padding: 0;
    float: left;
    left: 0;
    width: 1.5em;
    writing-mode: tb-rl;
}
ul.status li table {
    padding: 0; margin: 7px 0;
}
ul.status li.now {
    background: -webkit-gradient(linear, left center, right center, from(#f8f8f2), to(#e9e9d7));
    background: -moz-linear-gradient(right, #e9e9d7, #f8f8f2);
    border: 1px solid #353535;
    border-width: 1px 0 1px 1px;
}
section.product h3 {
    margin: 0; padding: 0;
    clear: both;
}
section.product h4 {
    float: left;
    text-shadow: none;
    margin: 0 0 .5em 0;
}
section.product time {
    float: right;
    margin: 0 .3em 0 0;
}
section.product hr {
    border: 1px solid #353535;
}
section.product > ul {
    margin: 0; padding: 0;
}
section.product > ul > li {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #de691f;
    background: -webkit-gradient(linear, left top, left bottom, from(#b0b09a), to(#b0b09a));
    background: -moz-linear-gradient(top, #b0b09a, #b0b09a);
    border-radius: 5px;
    color: #353535;
    margin: 0 0 1em 0; padding: .5em;
}
section.product > ul > li > ul {
    clear: both;
}
section.product > ul > li > ul > li {
    background-color: #e9e9d7;
    border-bottom: 1px solid #9c9c81;
    color: #353535;
    padding: .25em;
}
section.product > ul > li > ul > li:first-child {
    border-bottom: 1px sold #9c9c81;;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 7px;
}
section.product > ul > li > ul > li:last-child {
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
section.product li {
    list-style: none;
}
#perpetuity li {
    position: relative;
}
#perpetuity h4 {
    float: none;
    margin: 0 0 .25em 0; padding: 0;
}
#perpetuity time {
    float: none;
    position: absolute;
    right: 0;
    top: .6em;
    margin: 0 .75em 0 0;
}
section.product ul:nth-of-type(2) {
    margin: 2em 0 0 0;
}
#future.today {
    margin: 0;
}
#future.today li:first-child {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#future > li:first-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#e3782f), to(#de691f));
    background: -moz-linear-gradient(top, #e3782f, #de691f);
    color: #fff;
}
#future > li:first-child h4,
#future > li:first-child > time {
    text-shadow: #95582d 0 -1px;
}
#future > li:first-child > ul li {
    background-color: #fff;
}