.yui-loading #tabview-1 { display: none; }
#tabview-heading em { position: absolute; left: -999em; }

.yui-tabview .yui-tabpanel {
	background-color: inherit;
	display: none;
}
 
.yui-tabview .yui-tabpanel-selected {
	display: block;
}

