[%
name = product.name | html;
page.crumbs.push(
    { 'Products' => c.uri_for_action('/admin/product/root').as_string  },
    { $name => c.uri_for_action('/admin/product/object', [ product.id ]).as_string },
    { 'Add Queue' => '' }
);
%]
[% IF type %]
<h1>[% c.loc("[_1] : Setup [_2]", [ product.name, system_localize(type.name) ] ) %] </h1>
[% ELSE %]
<h1>[% c.loc('[_1] : Setup Queue', [ product.name ] ) %] </h1>
[% END %]
<form id="queue" method="post" action="[% c.uri_for_action('/admin/product/queue/root', [ product.id ]) %]">
 <fieldset>
[% IF type %]
    <input type="hidden" name="queue.type_pk1" value="[% type.id %]">
[% END %]
  <table>
   <tfoot>
    <tr>
     <td colspan="2'">
      <a href="#" class="submit_button orange">[% c.loc('Submit') %]</a>
     </td>
    </tr>
   </tfoot>
   <tbody>
    <tr>
     [% text_field({ label => 'Name', name => 'queue.name', hint => 'Name', required => 1 }); %]
     </tr>
[% IF !type %]
    <tr>
     [% select_field({ label => 'Type', name => 'queue.type_pk1', required => 1, array => types.all, label_method => 'name', value_method => 'id', value => type.id }); %]
    </tr>
[% END %]
    <tr>
     [% textarea_field({ label => 'Description', name => 'queue.description', hint => 'Explanation of Issue', required => 1, rows => 8 }); %]
    </tr>
   </tbody>
  </table>
 </fieldset>
</form>
