[%~

~%]
[% IF type %]
<h1>[% c.loc("[_1] : Create ${type.name}", [ product.name ] ) %] </h1>
[% ELSE %]
<h1>[% c.loc('[_1] : Create Ticket Queue', [ product.name ] ) %] </h1>
[% END %]
<form id="queue" method="post" action="[% c.uri_for_action('/admin/product/queue/root', [ product.id ]) %]">
 <fieldset>
  <table>
   <tfoot>
    <tr>
     <td colspan="2'">
      <a href="#" class="submit_button orange">Submit</a>
     </td>
    </tr>
   </tfoot>
   <tbody>
[%~ IF queue_rs.count > 0 %]
    <tr>
     [% select_field({
        label => 'Parent', name => 'parent_pk1', required => 1, double => 1,
        error => stack.for_subject('parent_pk1').first_message.id,
        value => results.get_original_value('parent_pk1'),
        array => queue_rs.all, label_method => 'name', value_method => 'id',
        default_option => [ 0, c.loc('No Parent') ]
    }) %]
    </tr>
[% END %]
    <tr>
     [% text_field({ label => 'Name', name => 'name', hint => 'Name', required => 1 }); %]
    </tr>
    <tr>
     [% select_field({ label => 'Type', name => 'type_pk1', required => 1, array => types.all, label_method => 'name', value_method => 'id', value => type.id }); %]
    </tr>
    <tr>
     [% textarea_field({ label => 'Description', name => 'description', hint => 'Explanation of Issue', required => 1, rows => 8 }); %]
    </tr>
   </tbody>
  </table>
 </fieldset>
</form>
