[%~

pname = product.name | html;
name = queue.name | html;
page.crumbs.push(
    { 'Products' => c.uri_for_action('/admin/product/root').as_string  },
    { $pname => c.uri_for_action('/admin/product/object', [ product.id ]).as_string }
    { 'Queues' => c.uri_for_action('/admin/product/queue/root', [ product.id ]).as_string },
    { $name => '' }
);

time_markers = queue.time_markers_rs.search_ordered('dt_marker').all;

~%]
<h1>[% c.loc('[_2] [_1]', [ queue.type.name, queue.name ] ) %]</h1>

<ul>
    <li><a href="[% c.uri_for_action('/queue/object', [ queue.id ]) %]">[% c.loc('Status') %]</a></li>
    <li><a href="[% c.uri_for_action('/ticket/create_form', { queue_pk1 => queue.id }) %]">[% c.loc('Create Ticket') %]</a></li>
</ul>

[% PROCESS "admin/product/queue/time_markers.tt" %]

<h2>[% c.loc('Edit Details') %]</h2>
<form id="queue" method="post" action="[% c.uri_for_action('/admin/product/queue/object', [ product.id, queue.id ]) %]">
 <fieldset>
  <table>
   <tfoot>
    <tr>
     <td colspan="2'">
      <input type="image" src="[% static('/static/images/buttons/submit.png') %]" alt="[% c.loc('Submit Form') %]">
     </td>
    </tr>
   </tfoot>
   <tbody>
    <tr>
     [% text_field({ label => 'Name', name => 'name', hint => 'Name', required => 1, value => queue.name }); %]
    </tr>
    <tr>
     [% select_field({ label => 'Type', name => 'type_pk1', required => 1, array => types.all, label_method => 'name', value_method => 'id', value => queue.type_pk1 }); %]
    </tr>
    <tr>
     [% textarea_field({ label => 'Description', name => 'description', hint => 'Explanation of Issue', required => 1, rows => 8, value => queue.description }); %]
    </tr>
   </tbody>
  </table>
 </fieldset>
</form>
