[%~
name = product.name | html;
page.crumbs.push(
    { 'Products' => c.uri_for_action('/admin/product/root').as_string  },
    { $name => c.uri_for_action('/admin/product/object', [ product.id ]).as_string }
    { 'Queues' => '' }
);
queues = queue_rs.all;

~%]
<h1>XX [% c.loc('[_1] Queues', [ product.name ] ) %]</h1>
<ul>
[% FOREACH queue IN queues %]
    <li><a href="[% c.uri_for_action('/admin/product/queue/object', [ product.id, queue.id ] ) %]">[% queue.name | html %]</a></li>
[% END %] 
[% FOREACH type IN c.model('Schema::Queue::Type').search_ordered.all %]
    <li><a href="[% c.uri_for_action("/admin/product/queue/create_form", [ product.id ], { type_pk1 => type.id } ) %]">[% c.loc('Add [_1]', [ type.name ] ) %]</a></li>
[% END %] 
</ul>
