[%~
name = product.name | html;
page.crumbs.push(
    { 'Products' => c.uri_for_action('/admin/product/root').as_string  },
    { $name => c.uri_for_action('/admin/product/object', [ product.id ]).as_string }
    { 'Queues' => '' }
);
queues = queue_rs.all;

~%]

<article class="boxes wide">
 <section>
  <h2>[% c.loc('Other Actions') %]</h2>
  <ul>
  [% FOREACH type IN c.model('Schema::Queue::Type').search_ordered.all %]
    <li><a href="[% c.uri_for_action("/admin/product/queue/create_form", [ product.id ], { type_pk1 => type.id } ) %]">[% c.loc('Add a [_1]', [ system_localize(type.name) ] ) %]</a></li>
  [% END %]
  </ul>
 </section>
</article>

[% IF queues %]
<h1>[% c.loc('[_1] Queues', [ product.name ] ) %]</h1>
    <ul>
    [% FOREACH queue IN queues %]
        <li><a href="[% c.uri_for_action('/admin/product/queue/object', [ product.id, queue.id ] ) %]">[% queue.name | html %]</a></li>
    [% END %] 
    </ul>
[% ELSE %]
<h1>[% c.loc('Setup [_1] Queues') %]</h1>
<p>A queue is simply a top-level container for tickets.  After creating a queue, you decide which states belong in that queue.</p>
[% END %]

