[%~
page.head.stylesheets.push('timemarkers.css');
page.body.scripts.push('timemarkers.js');
~%]
<form id="time_markers" method="post" action="[% c.uri_for_action('/admin/product/queue/timemarker/root', [ product.id, queue.id ] ) %]">
 <input type="hidden" name="dt_verifier_uri" value="[% c.uri_for_action('/util/verify_date') %]">
 <section class="product">
  <ul>
   <li><h4>[% c.loc('Points in time') %]</h4>
    <ul>
     [% FOREACH marker IN time_markers %]
     <li>[% IF marker.name.match('^@'); c.loc(marker.name); ELSE; marker.name | html; END %] - [% marker.dt_marker | date_short %]</li>
     [% END %]
     <li class="incoming yui-skin-sam">
        <select name="name">
            <option value="@due">[% c.loc('Due Date') %]</option>
            <optgroup label="[% c.loc('Custom Labels') %]">
                <option value="___add___">[% c.loc('Add Label') %]</option>
            </optgroup>
        </select>
        <input type="text" name="dt_marker" value="" placeholder="Date Marker">
        <img class="calendar" src="[% static('images/icons/date.png') %]" alt="Calendar">
        <input type="submit" value="Add">
     </li>
    </ul>
   </li>
  </ul>
 </section>
</form>

