<nav class="bar" id="tickbar">
 <h3>[% c.loc('Ticket') %]<a href="#"><img src="/static/images/actions/arrow_up.png"></a></h3>
 <ul>
  <li><a href="#comment">[% c.loc('Comment') %]</a></li>
  <li><a href="[% c.uri_for('/ticket/create', { parent => ticket.id }) %]">[% c.loc('Create Dependant') %]</a></li>
  <li><a href="#">[% c.loc('Add to Stack') %]</a></li>
 </ul>
</nav>
