<h1>Create Ticket</h1>
<form id="ticket">
 <fieldset>
  <table>
   <tbody>
    [% text_field({ label => 'Summary', name => 'ticket.summary', hint => 'Short Summary of Issue', required => 1 }); %]
   </tbody>
  </table>
 </fieldset>
</form>