<h1>TODO</h1>
<ul>
 <li>Hiders</li>
 <li>"centered" system changes</li>
 <li>Comment sources</li>
 <li>
  Tickets
  <ul>
   <li>Dependencies</li>
   <li>Attention</li>
  </ul>
 </li>
 <li>
  Milestones
  <ul>
   <li>Needs an owner. Like a pumpking.</li>
   <li>why not just make them special tickets?  it could depends on all it's children and tickets have due dates and descriptions and summaries!</li>
  </ul>
 </li>
</ul>
