[%~

parent = queue.top_parent;
next_step = queue.next_step;

~%]
<section class="queue-overview">
 <h3>[% parent.name %]</h3>
 <details class="muted">
  <dl>
   <dt>[% c.loc('Currently:') %]</dt>
   <dd>[% queue.name | html %]</dd>
   <dt>[% c.loc('Next Step:') %]</dt>
   <dd>[% IF next_step; next_step.name | html;  ELSE; c.loc("End of the road"); END; %]</dd>
  </dl>
  </details>
  [% IF ticket.defined %]
  <form method="post" action="[% c.uri_for_action('/ticket/advance', [ ticket.id ]) %]"><button class="orange submit_button">[% c.loc('Advance to [_1]', [ next_step.name ] ) %]</button></form>
  [% END %]
</section>
