<section class="queue-overview">
 <h3>[% parent.name %]</h3>
 <details class="muted">
  <dl>
   <dt>[% c.loc('Currently:') %]</dt>
   <dd>[% queue.name | html %]</dd>
   <dt>[% c.loc('Next Step:') %]</dt>
   <dd>[% IF next_step; next_step.name | html;  ELSE; c.loc("End of the road"); END; %]</dd>
  </dl>
  </details>
</section>
