[%~
# XX this will get fixed
top_rs = queue_rs.search_rs({'me.queue_pk1' => '0' });

~%]
[% MACRO queue_children(rs) BLOCK %]

[% WHILE ( queue = rs.next );
        due_date = queue.due_date.dt_marker;
        owner    = queue.identity.person;
%]
 <li>
  <h3><a href="[% c.uri_for_action('/queue/object', [ queue.id ]) %]">[% queue.name %]</a> <small>XX Localize Owned by <a href="#">[% owner.name %]</a>[% IF due_date %], due <time date="[% due_date | date_iso %]">[% pretty_date(due_date) %]</time>[% END %].</small></h3>
  [%# PROCESS site/shared/ticket_table.tt tickets = queue.all_tickets.all %]
  [%# queue_children(queue.children_rs) %]
 </li>
 [% END %]
[% END %]

<h1>[% c.loc('Roadmap') %]</h1>
<p>XX Couple things to do here...</p>
<ul>
 <li>Perpetual up top</li>
 <li>Due dates (and other dates)</li>
 <li>looks like a parent queue shows all it's child queue's tickets</li>
</ul>
<ul class="roadmap">
[% queue_children(top_rs) %]
</ul>
